# Compiled Files
__pycache__/
*.bin
*.bak
*.lock
*.deb

# Data Files
*.csv
*.pdf
*.json

# Text and Markdown Files
*.txt

# Python Checkpoints and Cache
checkpoint**
*ckpt
.pytest_cache
.cache

# Logging and Monitoring
logs/*.txt
wandb/
.neptune/
.flagged_data_points

# Build and Distribution
build/
dist/
h2ogpt.egg-info/
prebuilt_deps/

# Docker
Dockerfile-runner.dockerfile
Dockerfile_deps

# Environment and Installation
venv/
Miniconda3-latest-Linux-x86_64.sh
.build_info.txt
.benchmarks

# IDEs and Editors
.idea/
.local
.bash_history

# User-specific Paths
user_path/
user_path_test/
db_dir_UserData/
temp_path_do_doc1/
offline_folder/

# Custom Code and Files
7B/
13B/
minimal-llama**
upload.py
lora-**
evaluate.py
test_data.json
todo.txt

# Temporary and Backup
out/
*.bak
*.lock
*.deb

# Training Data (Add your new directories here)
training_data_dirty/
training_data_clean/

